# Ignore configuration files that may contain sensitive information.
#sites/*/settings*.php

# Ignore paths that contain user-generated content.
#sites/*/files
sites/*/private

#setings/configs
sites/default/settings.php

# Ignore gulp files.
node_modules