@font-face {
    font-family: 'SourceSansProRegular';
    src: url('../fonts/SourceSansProRegular.eot');
    src: url('../fonts/SourceSansProRegular.eot') format('embedded-opentype'),
         url('../fonts/SourceSansProRegular.woff2') format('woff2'),
         url('../fonts/SourceSansProRegular.woff') format('woff'),
         url('../fonts/SourceSansProRegular.ttf') format('truetype'),
         url('../fonts/SourceSansProRegular.svg#SourceSansProRegular') format('svg');
}
@font-face {
    font-family: 'SourceSansProLight';
    src: url('../fonts/SourceSansProLight.eot');
    src: url('../fonts/SourceSansProLight.eot') format('embedded-opentype'),
         url('../fonts/SourceSansProLight.woff2') format('woff2'),
         url('../fonts/SourceSansProLight.woff') format('woff'),
         url('../fonts/SourceSansProLight.ttf') format('truetype'),
         url('../fonts/SourceSansProLight.svg#SourceSansProLight') format('svg');
}
@font-face {
    font-family: 'SourceSansProBold';
    src: url('../fonts/SourceSansProBold.eot');
    src: url('../fonts/SourceSansProBold.eot') format('embedded-opentype'),
         url('../fonts/SourceSansProBold.woff2') format('woff2'),
         url('../fonts/SourceSansProBold.woff') format('woff'),
         url('../fonts/SourceSansProBold.ttf') format('truetype'),
         url('../fonts/SourceSansProBold.svg#SourceSansProBold') format('svg');
}
@font-face {
    font-family: 'SourceSansProBlack';
    src: url('../fonts/SourceSansProBlack.eot');
    src: url('../fonts/SourceSansProBlack.eot') format('embedded-opentype'),
         url('../fonts/SourceSansProBlack.woff2') format('woff2'),
         url('../fonts/SourceSansProBlack.woff') format('woff'),
         url('../fonts/SourceSansProBlack.ttf') format('truetype'),
         url('../fonts/SourceSansProBlack.svg#SourceSansProBlack') format('svg');
}
