body {
	overflow-x: hidden;
	font-family: $font-sourcereg;
}
a{
	-webkit-transition: all 1s ease-out;
  	-moz-transition: all 1s ease-out;
  	-o-transition: all 1s ease-out;
  	transition: all 1s ease-out;
}
.btn {
  padding: 10px 45px;
  font-size: 14px;
  border-radius: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
  &-default{
  	&-blue{
  		background: $main-blue;
  		color: white;
  		&:hover{
  			background: $light-blue;
  		}
  	}
  }
}

/* Header/Topo */
header{
	.navbar-header{
		.logo{
			margin: 30px 0 0; 
		}
	}
}
.navbar.container, .navbar.container-fluid {
   background: transparent;
   border: 0;
   margin: 0 auto;
   padding: 0;
   height: 135px;
}
.block-menu{
	float: right;
	margin: 38px 0 0;
	ul.menu.nav{
		li{
			display: inline-block;
			a{
				font-family: $font-sourcerbold;
				color: $dark-blue;
				text-transform: uppercase;
				&:hover, &:focus{
					background: transparent;
					color: $main-blue;
				}
			}
		}
	}
}
#block-block-1{
	float: right;
	text-align: right;
	margin: 38px 0 0 20px;
	a.link{
		margin: 0 20px 0 0;
	}
}

/* Superbanner */
.css-block-superbanner {
	position: relative;
	.super-banner{
		height: 510px;
		background-size: cover;
		.container{
			height: 510px;
			align-items: center;
    		justify-content: center;
    		display: flex;
    		.fields-banner{
    			color: white;
    			margin: 0 auto;  
    			text-align: center;
    			width: 500px;
    			.title{
    				font-size: 35px;
    			}
    			.subtitle{
    				font-size: 18px;
    				margin: 20px 0;
    			}
    		}
		}
	}
}

.owl-pagination{
	position: absolute;
	bottom: 50px;
	left: 0;
	right: 0;
	opacity: 0.8;
	.owl-page{
		span{
			width: 16px !important;
			height: 16px !important;
			border: 3px solid transparent;
		}
		&.active{
			span{
				background: $main-blue;
				border: 3px solid $light-blue;
			}
		}
	}
}
.owl-buttons{
	div{
		background: transparent !important;
		color: $main-blue !important;
	}
}

/* Empreendimentos Home */
#block-block-2{
	.list-empreendimentos{
		.title{
			font-size: 35px;
			color: $dark-blue;
			line-height: 40px;
		}
		span{
			color: $main-gray;
			font-size: 18px;
		}
	}
}
.css-block-empreendimentos{
	.owl-item{
		width: 310px !important;
		margin: 0 20px 0 0;
		.carousel-empreendimentos{
			.icons-list{
				.title-icon{
					position: relative;
					display: inline-block;
					i{
						color: white;
						background: $main-blue;
						display: inline-block;
						width: 45px;
						height: 45px;
						padding: 14px;
						font-size: 18px;
					}
					.subtitle {
						visibility: hidden;
						position: absolute;
						bottom: 0;
					   left: 0;
	   				z-index: 1000;
	    				width: 200px;
					}
					&:hover{
						.subtitle {
							visibility: visible;
						}
					}
				}
			}
		}
	}
}