body {
	overflow-x: hidden;
	font-family: $font-sourcereg;
}
a{
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
}
.btn {
	padding: 10px 45px;
	font-size: 14px;
	border-radius: 40px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-transform: uppercase;
	&-default{
		border: 1px solid $main-blue;
		color: $main-blue;
		&-blue{
			background: $main-blue;
			color: white;
			&:hover{
				background: $light-blue;
			}
		}
		&-gray{
			background: transparent;
			color: $light-gray;
			border-color: $light-gray;
			&:hover{
				background: $light-gray;
				color: $main-gray;
			}
		}
	}
}

.tooltipster-base{
	width: 260px !important;
	.tooltipster-box{
		background: white !important;
    	border: 0 !important;
    	color: #656565 !important;
    	-webkit-box-shadow: 0px 3px 23px 0px #c9c9c9;
    	-moz-box-shadow: 0px 3px 23px 0px #c9c9c9;
		box-shadow: 0px 3px 23px 0px #c9c9c9;
		.tooltipster-content{
			color: $main-gray;
		}
	}
	.tooltipster-arrow{
		.tooltipster-arrow-border{
			border-top-color: #fff !important;
		}
		.tooltipster-arrow-background{
			border-top-color: #fff !important;
		}
	}
}

/* Header/Topo */
header{
	.navbar-header{
		.logo{
			margin: 30px 0 0; 
		}
	}
}
.navbar.container, .navbar.container-fluid {
	background: transparent;
	border: 0;
	margin: 0 auto;
	padding: 0;
	height: 135px;
}
.block-menu{
	float: right;
	margin: 38px 0 0;
	ul.menu.nav{
		li{
			display: inline-block;
			a{
				font-family: $font-sourcerbold;
				color: $dark-blue;
				text-transform: uppercase;
				&:hover, &:focus{
					background: transparent;
					color: $main-blue;
				}
			}
		}
	}
}
#block-block-1{
	float: right;
	text-align: right;
	margin: 38px 0 0 20px;
	a.link{
		margin: 0 20px 0 0;
	}
}

/* Superbanner */
.css-block-superbanner {
	position: relative;
	.super-banner{
		height: 510px;
		background-size: cover;
		.container{
			height: 510px;
			align-items: center;
			justify-content: center;
			display: flex;
			.fields-banner{
				color: white;
				margin: 0 auto;  
				text-align: center;
				width: 500px;
				.title{
					font-size: 35px;
				}
				.subtitle{
					font-size: 18px;
					margin: 20px 0;
				}
			}
		}
	}
}

.owl-pagination{
	position: absolute;
	bottom: 50px;
	left: 0;
	right: 0;
	opacity: 0.8;
	.owl-page{
		span{
			width: 16px !important;
			height: 16px !important;
			border: 3px solid transparent;
		}
		&.active{
			span{
				background: $main-blue;
				border: 3px solid $light-blue;
			}
		}
	}
}
.owl-buttons{
	div{
		background: #fff !important;
		color: $main-blue !important;
		border: 2px solid $main-blue;
		position: absolute;
		top: 42%;
		z-index: 100;
		border-radius: 0 !important;
		width: 60px;
		height: 60px;
		padding: 18px !important;
		&:hover{
			opacity: 0.8 !important;
		}
		i {
			font-size: 26px;
		}
	}
	.owl-prev{
		left: 20px;
	}
	.owl-next{
		right: 20px;
	}
}
.region-blockgroup-g-empreendimentos{
	margin: 60px auto;
}

/* Empreendimentos Home */
#block-block-2{
	.list-empreendimentos{
		.title{
			font-size: 35px;
			color: $dark-blue;
			line-height: 40px;
		}
		.subtitle{
			font-size: 18px;
			margin: 15px 0;
		}
		span{
			color: $main-gray;
			font-size: 18px;
		}
		.btn{
			&:after{
				margin: 0 0 0 8px;
				content: "\f061";
				font-family :FontAwesome;
			}
		}
	}
}
.css-block-empreendimentos{
	.owl-carousel{
		position: relative;	
		.owl-wrapper-outer{
			padding:30px 0 0;
			width: 642px;
		}
		.owl-buttons{
			position: absolute;
			right: 0;
			top: 0;
			div{
				position: absolute;
				top: 0;
				right: 0;
				padding: 20px !important;
				i{ font-size: 12px; }
				&.owl-prev{
					left: -70px;
					top: 150px;
				}
				&.owl-next{
					left: -70px;
					top: 80px;
				}
			}
		}
	}
	.owl-item{
		width: 310px !important;
		margin: 0 5px 10px 10px;
		.carousel-empreendimentos{
			float: left;
			margin: 0 30px 0 0 !important;
			position: relative;
			.icons-list{
				position: absolute;
				top: -30px;
				left: 10px;
				.title-icon{
					position: relative;
					display: inline-block;
					i{
						color: white;
						background: $main-blue;
						display: inline-block;
						width: 45px;
						height: 45px;
						padding: 14px;
						font-size: 18px;
					}
					.subtitle {
						visibility: hidden;
						position: absolute;
						bottom: 20px;
						left: 10px;
						z-index: 1000;
						width: 200px;
						display: none;
					}
					&:hover{
						.subtitle {
							visibility: visible;
							background: white;
							padding: 10px;
						}
					}
				}
			}
			.content-image{
				-webkit-box-shadow: 0px 3px 23px 0px rgba(201,201,201,1);
				-moz-box-shadow: 0px 3px 23px 0px rgba(201,201,201,1);
				box-shadow: 0px 3px 23px 0px rgba(201,201,201,1);
				border-radius: 0 0 10px 10px;
				.tag{
					background-color: $main-blue;
				    position: absolute;
				    top: 50px;
				    right: -130px;
				    width: 290px;
				    transform: rotate(35deg);
				    color: #fff;
				    padding: 20px;
				}
				a{
					position: absolute;
    				top: 98px;
    				left: 0;
    				right: 0;
    				text-align: center;
    				color: white;
    				text-transform: uppercase;
    				&:after{
    					margin: 0 0 0 8px;
						content: "\f061";
						font-family :FontAwesome;
					}
				}
				.footer{
					margin: 0;
					padding: 15px 20px;
					border: none;
					.local{
						font-size: 12px;
						text-transform: uppercase;
					}
					.title{
						font-size: 18px;
						text-transform: uppercase;
						color: $dark-blue;
						font-family: $font-sourcerbold;
					}
				}
			}
		}
	}
}

#block-views-blocos-customizados-b-custom{
	.first-block, .second-block{
		padding: 0;
		height: 480px;
		.left-image{
			padding: 0 !important;
			height: 480px;
		}
	}
	.about-infante{
		height: 480px;
		align-items: center;
		justify-content: center;
		display: flex;
		.info{
			width: 300px;
		}
		.title{
			font-size: 35px;
			color: $dark-blue;
			line-height: 40px;
		}
		.text{
			font-size: 18px;
			margin: 20px 0;
		}
		.link{
			&:after{
				margin: 0 0 0 8px;
				content: "\f061";
				font-family :FontAwesome;
			}
		}
	}
	.second-block{
		.news-infante{
			height: 480px;
			.news-fields{
				float: right;
				width: 500px;
				margin: 60px 60px 0 0;
				.title{
					font-size: 35px;
					color: $dark-blue;
					line-height: 40px;
				}
				.text{
					font-size: 18px;
				}
			}
		}
		.news-form{
			height: 480px;
			background-color: $bg-blue;
			align-items: center;
			justify-content: center;
			display: flex;
			padding: 0 60px;
			color: white;
			.webform-client-form{
				width: 500px;
				.control-label{
					margin: 0 0 5px 20px;
					text-transform: uppercase;
				}
				.form-radios{
					.control-label{
						margin: 0;
						padding: 10px 35px;
						border: 1px solid $border-blue;
						border-radius: 50px;
						color: $border-blue;
						&.active{
							border-color: $main-blue;
							background-color: $main-blue;
							color: white;
						}
						input{
							display: none;
						}
					}
					.form-item{
						display: inline-block;
						margin: 0 30px 0 0;
					}
				}
				input{
					border: 1px solid $border-blue;
					background-color: transparent;
					border-radius: 60px;
					color: white;
				}
			}
		}
		.webform-component--indentifique-se {
			.form-item-submitted-indentifique-se{
				label:after{
					content: "\f1ce";
					font-family :FontAwesome;
					margin: 0 0 0 10px;
				}
			}
			.form-item-submitted-indentifique-se{
				label.active:after{
					content: "\f058";
					font-family :FontAwesome;
					margin: 0 0 0 10px;
					font-size: 16px;
				}
			}
		}

	}
}

#block-webform-client-block-59{
	.sale{
		width: 520px;
		margin: 0 auto 40px;
		text-align: center;
		h1{
			font-size: 36px;
			color: $dark-blue;
		}
		.body{
			font-size: 18px;
			color: $main-gray;
		}
	}
	padding: 60px 0;
	.webform-client-form{
		.control-label{
			margin: 0 0 5px 20px;
			text-transform: uppercase;
			color: $dark-blue;
		}
		.form-radios{
			.control-label{
				margin: 0;
				padding: 10px 35px;
				border: 1px solid $light-gray;
				border-radius: 50px;
				color: $light-gray;
				&.active{
					border-color: $main-blue;
					background-color: $main-blue;
					color: white;
				}
				input{
					display: none;
				}
			}
			.form-item{
				display: inline-block;
				margin: 0 30px 0 0;
			}
		}
		input{
			border: 1px solid $light-gray;
			background-color: transparent;
			border-radius: 60px;
		}
		#edit-submitted-terreno-ajax-wrapper{
			position: relative;
			.help-block{
				position: absolute;
				right: 30px;
				bottom: 25px;
			}
		}
		.form-submit{
			margin: 20px 0 0;
		}
		.form-actions{
			.webform-submit{
				margin: 0;
				display: inline-block;
			}
		}
	}
	.webform-component--indentifique-se {
		margin: 0;
		.form-item-submitted-indentifique-se{
			label:after{
				content: "\f1ce";
				font-family :FontAwesome;
				margin: 0 0 0 10px;
			}
		}
		.form-item-submitted-indentifique-se:checked{
			label:after{
				content: "\f058";
				font-family :FontAwesome;
				margin: 0 0 0 10px;
				font-size: 16px;
			}
		}
	}
}

.node-type-institucional{
	.css-block-bannerinterna{
		.super-banner{
			height: 370px;
			text-align: center;
			color: white;
			font-size: 45px;
			align-items: center;
			justify-content: center;
			display: flex;
			font-family: $font-sourcerbold;
			text-transform: uppercase;
		}
	}
	h1.page-header { display: none }
	.region-content{
		width: 750px;
		margin: 60px auto;
		.image-highlighted{
			text-align: center;
			margin: 0 0 30px;
			img{
				display: inline-block;
			}
		}
		.body{
			font-size: 18px;
			line-height: 150%;
			p{
				margin: 0 0 30px;
			}
			a{
				color: $main-blue;
				text-decoration: underline;
			}
			.video-js{
				width: 100%;
				height: 450px;
			}
		}
	}
}


.node-type-empreendimentos{
	h1.page-header{ display: none; }
	.image-highlighted{
		height: 360px;
	}
	.image-brand{
		text-align: center;
		img{ display: inline-block; }
	}
	.description{
		width: 560px;
		font-size: 18px;
		margin: 30px auto;
		text-align: center;
	}
	.icons-list{
		width: 880px;
		margin: 0 auto;
		float: inherit;
		overflow: hidden;
		.title-icon{
			margin: 0 0 20px;
			i{
				width: 60px;
				height: 60px;
				float: left;
				background: $main-blue;
				color: white;
				vertical-align: middle;
				margin: 0 10px 0 0;
				font-size: 24px;
				align-items: center;
				justify-content: center;
				display: flex;
			}
			.subtitle{
				display: inline-block;
				font-size: 18px;
				margin: 16px 0 0;
			}
		}
	}
	.link{
		text-align: center;		
		.download{
			margin: 40px auto;
			display: inline-block;
		}
	}
	.second-section{
		h2{
			text-align: center;
			color: $dark-blue;
			margin: 40px 0;
		}
	}
}

footer{
	border: 0 !important;
	background-color: $light-blue;
	color: $main-gray;
	padding: 30px 0 0 !important;
	margin: 30px 0 0 !important;
	.info-infante{
		margin: 20px 0 0;
		.first{
			font-size: 14px;
			color: $dark-blue;
			font-family: $font-sourcerbold;
		}
		p{
			margin: 0 !important;
		}
	}
	.phone, .fax{
		span{
			color: $dark-blue;
			font-family: $font-sourcerbold;
		}
	}
	.col-md-4{
		text-align: right;
	}
	.whats-phone{
		background-color: $dark-blue;
		padding: 30px 0;
		margin: 30px 0 0;
		text-align: center;
		text-transform: uppercase;
		font-family: $font-sourcerbold;
		i, .info, .text, .phone{
			display: inline-block;
			font-size: 18px;
		}
		i, .info{
			margin: 0 5px 0 0;
			color: $main-blue;
		}
		.text, .phone{
			margin: 0 5px 0 0;
		}
		.info{
			.text{
				color: white;
			}
		}
	}
}