$font-sourcereg:		'SourceSansProRegular', sans;
$font-sourcelit: 		'SourceSansProLight', sans;
$font-sourcerbold: 		'SourceSansProBold', sans;
$font-sourceblack: 		'SourceSansProBlack', sans;

$main-blue: 		#00aecc;
$dark-blue: 		#294052;
$light-blue: 		#95c4d7;

$main-gray:			#656565;