$font-sourcereg:		'SourceSansProRegular', sans;
$font-sourcelit: 		'SourceSansProLight', sans;
$font-sourcerbold: 		'SourceSansProBold', sans;
$font-sourceblack: 		'SourceSansProBlack', sans;

$main-blue: 		#00aecc;
$dark-blue: 		#294052;
$light-blue: 		#95c4d7;

$bg-blue:			#3e7292;
$border-blue:		#7195ac;

$main-gray:			#656565;
$light-gray:		#d1d1d1;
$footer:			#cfe4ec;