@font-face {
  font-family: 'SourceSansProRegular';
  src: url("../fonts/SourceSansProRegular.eot");
  src: url("../fonts/SourceSansProRegular.eot") format("embedded-opentype"), url("../fonts/SourceSansProRegular.woff2") format("woff2"), url("../fonts/SourceSansProRegular.woff") format("woff"), url("../fonts/SourceSansProRegular.ttf") format("truetype"), url("../fonts/SourceSansProRegular.svg#SourceSansProRegular") format("svg");
}

@font-face {
  font-family: 'SourceSansProLight';
  src: url("../fonts/SourceSansProLight.eot");
  src: url("../fonts/SourceSansProLight.eot") format("embedded-opentype"), url("../fonts/SourceSansProLight.woff2") format("woff2"), url("../fonts/SourceSansProLight.woff") format("woff"), url("../fonts/SourceSansProLight.ttf") format("truetype"), url("../fonts/SourceSansProLight.svg#SourceSansProLight") format("svg");
}

@font-face {
  font-family: 'SourceSansProBold';
  src: url("../fonts/SourceSansProBold.eot");
  src: url("../fonts/SourceSansProBold.eot") format("embedded-opentype"), url("../fonts/SourceSansProBold.woff2") format("woff2"), url("../fonts/SourceSansProBold.woff") format("woff"), url("../fonts/SourceSansProBold.ttf") format("truetype"), url("../fonts/SourceSansProBold.svg#SourceSansProBold") format("svg");
}

@font-face {
  font-family: 'SourceSansProBlack';
  src: url("../fonts/SourceSansProBlack.eot");
  src: url("../fonts/SourceSansProBlack.eot") format("embedded-opentype"), url("../fonts/SourceSansProBlack.woff2") format("woff2"), url("../fonts/SourceSansProBlack.woff") format("woff"), url("../fonts/SourceSansProBlack.ttf") format("truetype"), url("../fonts/SourceSansProBlack.svg#SourceSansProBlack") format("svg");
}

body {
  overflow-x: hidden;
  font-family: "SourceSansProRegular", sans;
}

a {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.btn {
  padding: 10px 45px;
  font-size: 14px;
  border-radius: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
}

.btn-default {
  border: 1px solid #00aecc;
  color: #00aecc;
}

.btn-default-blue {
  background: #00aecc;
  color: white;
}

.btn-default-blue:hover {
  background: #95c4d7;
}

.btn-default-gray {
  background: transparent;
  color: #d1d1d1;
  border-color: #d1d1d1;
}

.btn-default-gray:hover {
  background: #d1d1d1;
  color: #656565;
}

.tooltipster-base {
  background: white;
  border: 0;
  color: #656565;
}

/* Header/Topo */
header .navbar-header .logo {
  margin: 30px 0 0;
}

.navbar.container, .navbar.container-fluid {
  background: transparent;
  border: 0;
  margin: 0 auto;
  padding: 0;
  height: 135px;
}

.block-menu {
  float: right;
  margin: 38px 0 0;
}

.block-menu ul.menu.nav li {
  display: inline-block;
}

.block-menu ul.menu.nav li a {
  font-family: "SourceSansProBold", sans;
  color: #294052;
  text-transform: uppercase;
}

.block-menu ul.menu.nav li a:hover, .block-menu ul.menu.nav li a:focus {
  background: transparent;
  color: #00aecc;
}

#block-block-1 {
  float: right;
  text-align: right;
  margin: 38px 0 0 20px;
}

#block-block-1 a.link {
  margin: 0 20px 0 0;
}

/* Superbanner */
.css-block-superbanner {
  position: relative;
}

.css-block-superbanner .super-banner {
  height: 510px;
  background-size: cover;
}

.css-block-superbanner .super-banner .container {
  height: 510px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.css-block-superbanner .super-banner .container .fields-banner {
  color: white;
  margin: 0 auto;
  text-align: center;
  width: 500px;
}

.css-block-superbanner .super-banner .container .fields-banner .title {
  font-size: 35px;
}

.css-block-superbanner .super-banner .container .fields-banner .subtitle {
  font-size: 18px;
  margin: 20px 0;
}

.owl-pagination {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  opacity: 0.8;
}

.owl-pagination .owl-page span {
  width: 16px !important;
  height: 16px !important;
  border: 3px solid transparent;
}

.owl-pagination .owl-page.active span {
  background: #00aecc;
  border: 3px solid #95c4d7;
}

.owl-buttons div {
  background: #fff !important;
  color: #00aecc !important;
  border: 2px solid #00aecc;
  position: absolute;
  top: 42%;
  z-index: 100;
  border-radius: 0 !important;
  width: 60px;
  height: 60px;
  padding: 18px !important;
}

.owl-buttons div:hover {
  opacity: 0.8 !important;
}

.owl-buttons div i {
  font-size: 26px;
}

.owl-buttons .owl-prev {
  left: 20px;
}

.owl-buttons .owl-next {
  right: 20px;
}

.region-blockgroup-g-empreendimentos {
  margin: 60px auto;
}

/* Empreendimentos Home */
#block-block-2 .list-empreendimentos .title {
  font-size: 35px;
  color: #294052;
  line-height: 40px;
}

#block-block-2 .list-empreendimentos .subtitle {
  font-size: 18px;
  margin: 15px 0;
}

#block-block-2 .list-empreendimentos span {
  color: #656565;
  font-size: 18px;
}

#block-block-2 .list-empreendimentos .btn:after {
  margin: 0 0 0 8px;
  content: "\f061";
  font-family: FontAwesome;
}

.css-block-empreendimentos .owl-carousel {
  position: relative;
}

.css-block-empreendimentos .owl-carousel .owl-wrapper-outer {
  padding: 30px 0 0;
  width: 642px;
}

.css-block-empreendimentos .owl-carousel .owl-buttons {
  position: absolute;
  right: 0;
  top: 0;
}

.css-block-empreendimentos .owl-carousel .owl-buttons div {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px !important;
}

.css-block-empreendimentos .owl-carousel .owl-buttons div i {
  font-size: 12px;
}

.css-block-empreendimentos .owl-carousel .owl-buttons div.owl-prev {
  left: -70px;
  top: 150px;
}

.css-block-empreendimentos .owl-carousel .owl-buttons div.owl-next {
  left: -70px;
  top: 80px;
}

.css-block-empreendimentos .owl-item {
  width: 310px !important;
  margin: 0 20px 0 0;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos {
  float: left;
  margin: 0 30px 0 0 !important;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos .icons-list {
  position: absolute;
  top: -30px;
  left: 10px;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos .icons-list .title-icon {
  position: relative;
  display: inline-block;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos .icons-list .title-icon i {
  color: white;
  background: #00aecc;
  display: inline-block;
  width: 45px;
  height: 45px;
  padding: 14px;
  font-size: 18px;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos .icons-list .title-icon .subtitle {
  visibility: hidden;
  position: absolute;
  bottom: 20px;
  left: 10px;
  z-index: 1000;
  width: 200px;
  display: none;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos .icons-list .title-icon:hover .subtitle {
  visibility: visible;
  background: white;
  padding: 10px;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos .content-image {
  -webkit-box-shadow: 0px 3px 23px 0px #c9c9c9;
  -moz-box-shadow: 0px 3px 23px 0px #c9c9c9;
  box-shadow: 0px 3px 23px 0px #c9c9c9;
  border-radius: 0 0 10px 10px;
}

#block-views-blocos-customizados-b-custom .first-block, #block-views-blocos-customizados-b-custom .second-block {
  padding: 0;
  height: 480px;
}

#block-views-blocos-customizados-b-custom .first-block .left-image, #block-views-blocos-customizados-b-custom .second-block .left-image {
  padding: 0 !important;
  height: 480px;
}

#block-views-blocos-customizados-b-custom .about-infante {
  height: 480px;
  align-items: center;
  justify-content: center;
  display: flex;
}

#block-views-blocos-customizados-b-custom .about-infante .info {
  width: 300px;
}

#block-views-blocos-customizados-b-custom .about-infante .title {
  font-size: 35px;
  color: #294052;
  line-height: 40px;
}

#block-views-blocos-customizados-b-custom .about-infante .text {
  font-size: 18px;
  margin: 20px 0;
}

#block-views-blocos-customizados-b-custom .about-infante .link:after {
  margin: 0 0 0 8px;
  content: "\f061";
  font-family: FontAwesome;
}

#block-views-blocos-customizados-b-custom .second-block .news-infante {
  height: 480px;
}

#block-views-blocos-customizados-b-custom .second-block .news-infante .news-fields {
  float: right;
  width: 500px;
  margin: 60px 60px 0 0;
}

#block-views-blocos-customizados-b-custom .second-block .news-infante .news-fields .title {
  font-size: 35px;
  color: #294052;
  line-height: 40px;
}

#block-views-blocos-customizados-b-custom .second-block .news-infante .news-fields .text {
  font-size: 18px;
}

#block-views-blocos-customizados-b-custom .second-block .news-form {
  height: 480px;
  background-color: #3e7292;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0 60px;
  color: white;
}

#block-views-blocos-customizados-b-custom .second-block .news-form .webform-client-form {
  width: 500px;
}

#block-views-blocos-customizados-b-custom .second-block .news-form .webform-client-form .control-label {
  margin: 0 0 5px 20px;
  text-transform: uppercase;
}

#block-views-blocos-customizados-b-custom .second-block .news-form .webform-client-form .form-radios .control-label {
  margin: 0;
  padding: 10px 35px;
  border: 1px solid #7195ac;
  border-radius: 50px;
  color: #7195ac;
}

#block-views-blocos-customizados-b-custom .second-block .news-form .webform-client-form .form-radios .control-label.active {
  border-color: #00aecc;
  background-color: #00aecc;
  color: white;
}

#block-views-blocos-customizados-b-custom .second-block .news-form .webform-client-form .form-radios .control-label input {
  display: none;
}

#block-views-blocos-customizados-b-custom .second-block .news-form .webform-client-form .form-radios .form-item {
  display: inline-block;
  margin: 0 30px 0 0;
}

#block-views-blocos-customizados-b-custom .second-block .news-form .webform-client-form input {
  border: 1px solid #7195ac;
  background-color: transparent;
  border-radius: 60px;
  color: white;
}

#block-views-blocos-customizados-b-custom .second-block .webform-component--indentifique-se .form-item-submitted-indentifique-se label:after {
  content: "\f1ce";
  font-family: FontAwesome;
  margin: 0 0 0 10px;
}

#block-views-blocos-customizados-b-custom .second-block .webform-component--indentifique-se .form-item-submitted-indentifique-se label.active:after {
  content: "\f058";
  font-family: FontAwesome;
  margin: 0 0 0 10px;
  font-size: 16px;
}

#block-webform-client-block-59 {
  padding: 60px 0;
}

#block-webform-client-block-59 .sale {
  width: 520px;
  margin: 0 auto 40px;
  text-align: center;
}

#block-webform-client-block-59 .sale h1 {
  font-size: 36px;
  color: #294052;
}

#block-webform-client-block-59 .sale .body {
  font-size: 18px;
  color: #656565;
}

#block-webform-client-block-59 .webform-client-form .control-label {
  margin: 0 0 5px 20px;
  text-transform: uppercase;
  color: #294052;
}

#block-webform-client-block-59 .webform-client-form .form-radios .control-label {
  margin: 0;
  padding: 10px 35px;
  border: 1px solid #d1d1d1;
  border-radius: 50px;
  color: #d1d1d1;
}

#block-webform-client-block-59 .webform-client-form .form-radios .control-label.active {
  border-color: #00aecc;
  background-color: #00aecc;
  color: white;
}

#block-webform-client-block-59 .webform-client-form .form-radios .control-label input {
  display: none;
}

#block-webform-client-block-59 .webform-client-form .form-radios .form-item {
  display: inline-block;
  margin: 0 30px 0 0;
}

#block-webform-client-block-59 .webform-client-form input {
  border: 1px solid #d1d1d1;
  background-color: transparent;
  border-radius: 60px;
}

#block-webform-client-block-59 .webform-client-form #edit-submitted-terreno-ajax-wrapper {
  position: relative;
}

#block-webform-client-block-59 .webform-client-form #edit-submitted-terreno-ajax-wrapper .help-block {
  position: absolute;
  right: 30px;
  bottom: 25px;
}

#block-webform-client-block-59 .webform-client-form .form-submit {
  margin: 20px 0 0;
}

#block-webform-client-block-59 .webform-client-form .form-actions .webform-submit {
  margin: 0;
  display: inline-block;
}

#block-webform-client-block-59 .webform-component--indentifique-se {
  margin: 0;
}

#block-webform-client-block-59 .webform-component--indentifique-se .form-item-submitted-indentifique-se label:after {
  content: "\f1ce";
  font-family: FontAwesome;
  margin: 0 0 0 10px;
}

#block-webform-client-block-59 .webform-component--indentifique-se .form-item-submitted-indentifique-se:checked label:after {
  content: "\f058";
  font-family: FontAwesome;
  margin: 0 0 0 10px;
  font-size: 16px;
}

.node-type-institucional .css-block-bannerinterna .super-banner {
  height: 370px;
  text-align: center;
  color: white;
  font-size: 45px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "SourceSansProBold", sans;
  text-transform: uppercase;
}

.node-type-institucional h1.page-header {
  display: none;
}

.node-type-institucional .region-content {
  width: 750px;
  margin: 60px auto;
}

.node-type-institucional .region-content .image-highlighted {
  text-align: center;
  margin: 0 0 30px;
}

.node-type-institucional .region-content .image-highlighted img {
  display: inline-block;
}

.node-type-institucional .region-content .body {
  font-size: 18px;
  line-height: 150%;
}

.node-type-institucional .region-content .body p {
  margin: 0 0 30px;
}

.node-type-institucional .region-content .body a {
  color: #00aecc;
  text-decoration: underline;
}

.node-type-institucional .region-content .body .video-js {
  width: 100%;
  height: 450px;
}

.node-type-empreendimentos h1.page-header {
  display: none;
}

.node-type-empreendimentos .image-highlighted {
  height: 360px;
}

.node-type-empreendimentos .image-brand {
  text-align: center;
}

.node-type-empreendimentos .image-brand img {
  display: inline-block;
}

.node-type-empreendimentos .description {
  width: 560px;
  font-size: 18px;
  margin: 30px auto;
  text-align: center;
}

.node-type-empreendimentos .icons-list {
  width: 880px;
  margin: 0 auto;
  float: inherit;
  overflow: hidden;
}

.node-type-empreendimentos .icons-list .title-icon {
  margin: 0 0 20px;
}

.node-type-empreendimentos .icons-list .title-icon i {
  width: 60px;
  height: 60px;
  float: left;
  background: #00aecc;
  color: white;
  vertical-align: middle;
  margin: 0 10px 0 0;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.node-type-empreendimentos .icons-list .title-icon .subtitle {
  display: inline-block;
  font-size: 18px;
  margin: 16px 0 0;
}

.node-type-empreendimentos .download {
  margin: 40px auto;
}

.node-type-empreendimentos .second-section h2 {
  text-align: center;
  color: #294052;
  margin: 40px 0;
}

footer {
  border: 0 !important;
  background-color: #95c4d7;
  color: #656565;
  padding: 30px 0 0 !important;
  margin: 30px 0 0 !important;
}

footer .info-infante {
  margin: 20px 0 0;
}

footer .info-infante .first {
  font-size: 14px;
  color: #294052;
  font-family: "SourceSansProBold", sans;
}

footer .info-infante p {
  margin: 0 !important;
}

footer .phone span, footer .fax span {
  color: #294052;
  font-family: "SourceSansProBold", sans;
}

footer .col-md-4 {
  text-align: right;
}

footer .whats-phone {
  background-color: #294052;
  padding: 30px 0;
  margin: 30px 0 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "SourceSansProBold", sans;
}

footer .whats-phone i, footer .whats-phone .info, footer .whats-phone .text, footer .whats-phone .phone {
  display: inline-block;
  font-size: 18px;
}

footer .whats-phone i, footer .whats-phone .info {
  margin: 0 5px 0 0;
  color: #00aecc;
}

footer .whats-phone .text, footer .whats-phone .phone {
  margin: 0 5px 0 0;
}

footer .whats-phone .info .text {
  color: white;
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  header .navbar-header .logo {
    margin: 40px 0 0 40px;
    width: 280px;
    height: 70px;
  }
  header .navbar-header .navbar-toggle {
    border: 0;
    position: absolute;
    top: 40px;
    right: 20px;
  }
  header .navbar-header .navbar-toggle:focus {
    background: transparent;
  }
  header .navbar-header .navbar-toggle .icon-bar {
    height: 3px;
    width: 24px;
    background-color: #294052;
  }
  .css-block-superbanner .owl-buttons {
    display: none;
  }
  #block-block-2 {
    text-align: center;
    margin: 0 0 40px;
  }
  .css-block-empreendimentos .owl-carousel .owl-wrapper-outer {
    width: 100%;
  }
  #block-views-blocos-customizados-b-custom .first-block, #block-views-blocos-customizados-b-custom .second-block {
    height: inherit;
  }
  #block-views-blocos-customizados-b-custom .second-block .news-infante, #block-views-blocos-customizados-b-custom .second-block .news-form {
    height: auto;
    overflow: hidden;
  }
  #block-views-blocos-customizados-b-custom .second-block .news-infante .news-fields {
    float: inherit;
    width: inherit;
    margin: 40px 20px;
    text-align: center;
  }
  #block-views-blocos-customizados-b-custom .second-block .news-form {
    padding: 60px 10px;
  }
  #block-views-blocos-customizados-b-custom .second-block .news-form .webform-client-form .form-radios .form-item {
    display: inline-block;
    margin: 0 20px 0 0;
  }
  #block-webform-client-block-59 .sale {
    width: inherit;
    margin: 60px 10px;
  }
  #block-webform-client-block-59 .webform-client-form .form-radios .control-label {
    padding: 10px 25px;
  }
  #block-webform-client-block-59 .webform-client-form .form-radios .form-item {
    display: inline-block;
    margin: 0 20px 20px 0;
  }
  #block-webform-client-block-59 .webform-client-form .form-actions {
    text-align: center;
    margin: 20px 0 0;
  }
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
