@font-face {
  font-family: 'SourceSansProRegular';
  src: url("../fonts/SourceSansProRegular.eot");
  src: url("../fonts/SourceSansProRegular.eot") format("embedded-opentype"), url("../fonts/SourceSansProRegular.woff2") format("woff2"), url("../fonts/SourceSansProRegular.woff") format("woff"), url("../fonts/SourceSansProRegular.ttf") format("truetype"), url("../fonts/SourceSansProRegular.svg#SourceSansProRegular") format("svg");
}

@font-face {
  font-family: 'SourceSansProLight';
  src: url("../fonts/SourceSansProLight.eot");
  src: url("../fonts/SourceSansProLight.eot") format("embedded-opentype"), url("../fonts/SourceSansProLight.woff2") format("woff2"), url("../fonts/SourceSansProLight.woff") format("woff"), url("../fonts/SourceSansProLight.ttf") format("truetype"), url("../fonts/SourceSansProLight.svg#SourceSansProLight") format("svg");
}

@font-face {
  font-family: 'SourceSansProBold';
  src: url("../fonts/SourceSansProBold.eot");
  src: url("../fonts/SourceSansProBold.eot") format("embedded-opentype"), url("../fonts/SourceSansProBold.woff2") format("woff2"), url("../fonts/SourceSansProBold.woff") format("woff"), url("../fonts/SourceSansProBold.ttf") format("truetype"), url("../fonts/SourceSansProBold.svg#SourceSansProBold") format("svg");
}

@font-face {
  font-family: 'SourceSansProBlack';
  src: url("../fonts/SourceSansProBlack.eot");
  src: url("../fonts/SourceSansProBlack.eot") format("embedded-opentype"), url("../fonts/SourceSansProBlack.woff2") format("woff2"), url("../fonts/SourceSansProBlack.woff") format("woff"), url("../fonts/SourceSansProBlack.ttf") format("truetype"), url("../fonts/SourceSansProBlack.svg#SourceSansProBlack") format("svg");
}

body {
  overflow-x: hidden;
  font-family: "SourceSansProRegular", sans;
}

a {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.btn {
  padding: 10px 45px;
  font-size: 14px;
  border-radius: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
}

.btn-default {
  border: 1px solid #00aecc;
  color: #00aecc;
}

.btn-default-blue {
  background: #00aecc;
  color: white;
}

.btn-default-blue:hover {
  background: #95c4d7;
}

.btn-default-gray {
  background: transparent;
  color: #d1d1d1;
  border-color: #d1d1d1;
}

.btn-default-gray:hover {
  background: #d1d1d1;
  color: #656565;
}

.tooltipster-base {
  width: 260px !important;
}

.tooltipster-base .tooltipster-box {
  background: white !important;
  border: 0 !important;
  color: #656565 !important;
  -webkit-box-shadow: 0px 3px 23px 0px #c9c9c9;
  -moz-box-shadow: 0px 3px 23px 0px #c9c9c9;
  box-shadow: 0px 3px 23px 0px #c9c9c9;
}

.tooltipster-base .tooltipster-box .tooltipster-content {
  color: #656565;
}

.tooltipster-base .tooltipster-arrow .tooltipster-arrow-border {
  border-top-color: #fff !important;
}

.tooltipster-base .tooltipster-arrow .tooltipster-arrow-background {
  border-top-color: #fff !important;
}

h1.page-header {
  display: none;
}

/* Header/Topo */
header .navbar-header .logo {
  margin: 30px 0 0;
}

.navbar.container, .navbar.container-fluid {
  background: transparent;
  border: 0;
  margin: 0 auto;
  padding: 0;
  height: 135px;
}

.block-menu {
  float: right;
  margin: 38px 0 0;
}

.block-menu ul.menu.nav li {
  display: inline-block;
}

.block-menu ul.menu.nav li a {
  font-family: "SourceSansProBold", sans;
  color: #294052;
  text-transform: uppercase;
}

.block-menu ul.menu.nav li a:hover, .block-menu ul.menu.nav li a:focus {
  background: transparent;
  color: #00aecc;
}

.block-menu ul.menu.nav li ul.dropdown-menu {
  border-radius: 8px;
  background: #95c4d7;
  border: none;
  text-align: center;
  left: -40px;
}

.block-menu ul.menu.nav li ul.dropdown-menu li {
  display: block;
  border-bottom: 1px solid #b6d8e6;
}

.block-menu ul.menu.nav li ul.dropdown-menu li a {
  color: white;
  padding: 8px 20px;
}

.block-menu ul.menu.nav li ul.dropdown-menu li:hover a {
  color: #294052;
}

.block-menu ul.menu.nav li ul.dropdown-menu li.active a {
  color: #294052;
  background: none;
}

.block-menu ul.menu.nav li ul.dropdown-menu li.last {
  border: none;
}

.block-menu ul.menu.nav li ul.dropdown-menu:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-bottom: 8px solid #95c4d7;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.block-menu ul.menu.nav li.open a {
  background: transparent;
}

#block-block-1 {
  float: right;
  text-align: right;
  margin: 38px 0 0 20px;
}

#block-block-1 a.link {
  margin: 0 20px 0 0;
}

/* Superbanner */
.css-block-superbanner {
  position: relative;
}

.css-block-superbanner .super-banner {
  position: relative;
  height: 510px;
  background-size: cover;
  background-position: center center;
}

.css-block-superbanner .super-banner .container {
  height: 510px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.css-block-superbanner .super-banner .container .fields-banner {
  color: white;
  margin: 0 auto;
  text-align: center;
  width: 500px;
  position: relative;
}

.css-block-superbanner .super-banner .container .fields-banner .title {
  font-size: 35px;
}

.css-block-superbanner .super-banner .container .fields-banner .subtitle {
  font-size: 18px;
  margin: 20px 0;
}

.css-block-bannerinterna .super-banner {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
  text-align: center;
  color: white;
  font-size: 45px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "SourceSansProBold", sans;
  text-transform: uppercase;
  position: relative;
}

.css-block-bannerinterna .super-banner:before {
  content: "";
  background: rgba(41, 64, 82, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 270px;
}

.css-block-bannerinterna .super-banner .fields-banner {
  z-index: 10;
  position: relative;
}

.owl-pagination {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  opacity: 0.8;
}

.owl-pagination .owl-page span {
  width: 16px !important;
  height: 16px !important;
  border: 3px solid transparent;
}

.owl-pagination .owl-page.active span {
  background: #00aecc;
  border: 3px solid #95c4d7;
}

.owl-buttons div {
  background: #fff !important;
  color: #00aecc !important;
  border: 2px solid #00aecc;
  position: absolute;
  top: 42%;
  z-index: 100;
  border-radius: 0 !important;
  width: 60px;
  height: 60px;
  padding: 18px !important;
}

.owl-buttons div:hover {
  opacity: 0.8 !important;
}

.owl-buttons div i {
  font-size: 26px;
}

.owl-buttons .owl-prev {
  left: 20px;
}

.owl-buttons .owl-next {
  right: 20px;
}

.region-blockgroup-g-empreendimentos {
  margin: 60px auto;
}

/* Empreendimentos Home */
#block-block-2 .list-empreendimentos .title {
  font-size: 35px;
  color: #294052;
  line-height: 40px;
}

#block-block-2 .list-empreendimentos .subtitle {
  font-size: 18px;
  margin: 15px 0;
  color: #656565;
}

#block-block-2 .list-empreendimentos span {
  color: #656565;
  font-size: 18px;
}

#block-block-2 .list-empreendimentos .btn:after {
  margin: 0 0 0 8px;
  content: "\f061";
  font-family: FontAwesome;
}

.css-block-empreendimentos .owl-carousel,
.css-b-emp-internas .owl-carousel,
.css-b-emp-internas .owl-carousel {
  position: relative;
}

.css-block-empreendimentos .owl-carousel .owl-wrapper-outer,
.css-b-emp-internas .owl-carousel .owl-wrapper-outer,
.css-b-emp-internas .owl-carousel .owl-wrapper-outer {
  padding: 30px 0 0;
  /* width: 642px; */
}

.css-block-empreendimentos .owl-carousel .owl-buttons,
.css-b-emp-internas .owl-carousel .owl-buttons,
.css-b-emp-internas .owl-carousel .owl-buttons {
  position: absolute;
  right: -80px;
  top: 0;
}

.css-block-empreendimentos .owl-carousel .owl-buttons div,
.css-b-emp-internas .owl-carousel .owl-buttons div,
.css-b-emp-internas .owl-carousel .owl-buttons div {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px !important;
}

.css-block-empreendimentos .owl-carousel .owl-buttons div i,
.css-b-emp-internas .owl-carousel .owl-buttons div i,
.css-b-emp-internas .owl-carousel .owl-buttons div i {
  font-size: 12px;
}

.css-block-empreendimentos .owl-carousel .owl-buttons div.owl-prev,
.css-b-emp-internas .owl-carousel .owl-buttons div.owl-prev,
.css-b-emp-internas .owl-carousel .owl-buttons div.owl-prev {
  left: -70px;
  top: 150px;
}

.css-block-empreendimentos .owl-carousel .owl-buttons div.owl-next,
.css-b-emp-internas .owl-carousel .owl-buttons div.owl-next,
.css-b-emp-internas .owl-carousel .owl-buttons div.owl-next {
  left: -70px;
  top: 80px;
}

.css-block-empreendimentos .owl-item,
.css-b-emp-internas .owl-item,
.css-b-emp-internas .owl-item {
  /* width: 310px !important;
		margin: 0 5px 10px 10px; */
  margin: 0;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos,
.css-b-emp-internas .owl-item .carousel-empreendimentos,
.css-b-emp-internas .owl-item .carousel-empreendimentos {
  float: left;
  /* margin: 0 30px 0 0 !important;
			position: relative; */
  margin: 0;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos .icons-list,
.css-b-emp-internas .owl-item .carousel-empreendimentos .icons-list,
.css-b-emp-internas .owl-item .carousel-empreendimentos .icons-list {
  position: absolute;
  top: -30px;
  left: 10px;
  z-index: 2;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos .icons-list .title-icon,
.css-b-emp-internas .owl-item .carousel-empreendimentos .icons-list .title-icon,
.css-b-emp-internas .owl-item .carousel-empreendimentos .icons-list .title-icon {
  position: relative;
  display: inline-block;
  text-align: center;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos .icons-list .title-icon i,
.css-b-emp-internas .owl-item .carousel-empreendimentos .icons-list .title-icon i,
.css-b-emp-internas .owl-item .carousel-empreendimentos .icons-list .title-icon i {
  color: white;
  background: #294052;
  display: inline-block;
  width: 45px;
  height: 45px;
  padding: 14px;
  font-size: 18px;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos .icons-list .title-icon .subtitle,
.css-b-emp-internas .owl-item .carousel-empreendimentos .icons-list .title-icon .subtitle,
.css-b-emp-internas .owl-item .carousel-empreendimentos .icons-list .title-icon .subtitle {
  visibility: hidden;
  position: absolute;
  bottom: 20px;
  left: 10px;
  z-index: 1000;
  width: 200px;
  display: none;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos .icons-list .title-icon:hover .subtitle,
.css-b-emp-internas .owl-item .carousel-empreendimentos .icons-list .title-icon:hover .subtitle,
.css-b-emp-internas .owl-item .carousel-empreendimentos .icons-list .title-icon:hover .subtitle {
  visibility: visible;
  background: white;
  padding: 10px;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos .content-image,
.css-b-emp-internas .owl-item .carousel-empreendimentos .content-image,
.css-b-emp-internas .owl-item .carousel-empreendimentos .content-image {
  border-radius: 0 0 10px 10px;
  position: relative;
  overflow: hidden;
  border: 1px solid #e6e6e6;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos .content-image .tag,
.css-b-emp-internas .owl-item .carousel-empreendimentos .content-image .tag,
.css-b-emp-internas .owl-item .carousel-empreendimentos .content-image .tag {
  background-color: #00aecc;
  color: #fff;
  font-family: "SourceSansProBold", sans;
  padding: 10px 80px;
  position: absolute;
  right: -90px;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(35deg);
  top: 20px;
  width: 290px;
  letter-spacing: 1px;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos .content-image .image a,
.css-b-emp-internas .owl-item .carousel-empreendimentos .content-image .image a,
.css-b-emp-internas .owl-item .carousel-empreendimentos .content-image .image a {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  bottom: 0;
  padding: 99px 0;
  background: rgba(0, 0, 0, 0.5);
  height: 220px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos .content-image .image a:after,
.css-b-emp-internas .owl-item .carousel-empreendimentos .content-image .image a:after,
.css-b-emp-internas .owl-item .carousel-empreendimentos .content-image .image a:after {
  margin: 0 0 0 8px;
  content: "\f061";
  font-family: FontAwesome;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos .content-image .image:hover a,
.css-b-emp-internas .owl-item .carousel-empreendimentos .content-image .image:hover a,
.css-b-emp-internas .owl-item .carousel-empreendimentos .content-image .image:hover a {
  opacity: 1;
  height: 243px;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos .content-image .footer,
.css-b-emp-internas .owl-item .carousel-empreendimentos .content-image .footer,
.css-b-emp-internas .owl-item .carousel-empreendimentos .content-image .footer {
  margin: 0;
  padding: 15px 20px;
  border: none;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos .content-image .footer .local,
.css-b-emp-internas .owl-item .carousel-empreendimentos .content-image .footer .local,
.css-b-emp-internas .owl-item .carousel-empreendimentos .content-image .footer .local {
  font-size: 12px;
  text-transform: uppercase;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos .content-image .footer .title,
.css-b-emp-internas .owl-item .carousel-empreendimentos .content-image .footer .title,
.css-b-emp-internas .owl-item .carousel-empreendimentos .content-image .footer .title {
  font-size: 18px;
  text-transform: uppercase;
  color: #294052;
  font-family: "SourceSansProBold", sans;
}

.css-block-empreendimentos .views-row,
.css-b-emp-internas .views-row,
.css-b-emp-internas .views-row {
  margin: 0 0 60px;
}

.css-block-empreendimentos .views-row .interna-empreendimentos,
.css-b-emp-internas .views-row .interna-empreendimentos,
.css-b-emp-internas .views-row .interna-empreendimentos {
  float: left;
  margin: 0 30px 0 0 !important;
  position: relative;
}

.css-block-empreendimentos .views-row .interna-empreendimentos .icons-list,
.css-b-emp-internas .views-row .interna-empreendimentos .icons-list,
.css-b-emp-internas .views-row .interna-empreendimentos .icons-list {
  position: absolute;
  top: -30px;
  left: 10px;
  z-index: 2;
}

.css-block-empreendimentos .views-row .interna-empreendimentos .icons-list .title-icon,
.css-b-emp-internas .views-row .interna-empreendimentos .icons-list .title-icon,
.css-b-emp-internas .views-row .interna-empreendimentos .icons-list .title-icon {
  position: relative;
  display: inline-block;
  text-align: center;
}

.css-block-empreendimentos .views-row .interna-empreendimentos .icons-list .title-icon i,
.css-b-emp-internas .views-row .interna-empreendimentos .icons-list .title-icon i,
.css-b-emp-internas .views-row .interna-empreendimentos .icons-list .title-icon i {
  color: white;
  background: #294052;
  display: inline-block;
  width: 45px;
  height: 45px;
  padding: 14px;
  font-size: 18px;
}

.css-block-empreendimentos .views-row .interna-empreendimentos .icons-list .title-icon .subtitle,
.css-b-emp-internas .views-row .interna-empreendimentos .icons-list .title-icon .subtitle,
.css-b-emp-internas .views-row .interna-empreendimentos .icons-list .title-icon .subtitle {
  visibility: hidden;
  position: absolute;
  bottom: 20px;
  left: 10px;
  z-index: 1000;
  width: 200px;
  display: none;
}

.css-block-empreendimentos .views-row .interna-empreendimentos .icons-list .title-icon:hover .subtitle,
.css-b-emp-internas .views-row .interna-empreendimentos .icons-list .title-icon:hover .subtitle,
.css-b-emp-internas .views-row .interna-empreendimentos .icons-list .title-icon:hover .subtitle {
  visibility: visible;
  background: white;
  padding: 10px;
}

.css-block-empreendimentos .views-row .interna-empreendimentos .content-image,
.css-b-emp-internas .views-row .interna-empreendimentos .content-image,
.css-b-emp-internas .views-row .interna-empreendimentos .content-image {
  border: 1px solid #e6e6e6;
  border-radius: 0 0 10px 10px;
  position: relative;
  overflow: hidden;
}

.css-block-empreendimentos .views-row .interna-empreendimentos .content-image .tag,
.css-b-emp-internas .views-row .interna-empreendimentos .content-image .tag,
.css-b-emp-internas .views-row .interna-empreendimentos .content-image .tag {
  background-color: #00aecc;
  color: #fff;
  font-family: "SourceSansProBold", sans;
  padding: 10px 80px;
  position: absolute;
  right: -85px;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(40deg);
  top: 33px;
  width: 290px;
  letter-spacing: 1px;
}

.css-block-empreendimentos .views-row .interna-empreendimentos .content-image .image a,
.css-b-emp-internas .views-row .interna-empreendimentos .content-image .image a,
.css-b-emp-internas .views-row .interna-empreendimentos .content-image .image a {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  bottom: 0;
  padding: 99px 0;
  background: rgba(0, 0, 0, 0.5);
  height: 220px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.css-block-empreendimentos .views-row .interna-empreendimentos .content-image .image a:after,
.css-b-emp-internas .views-row .interna-empreendimentos .content-image .image a:after,
.css-b-emp-internas .views-row .interna-empreendimentos .content-image .image a:after {
  margin: 0 0 0 8px;
  content: "\f061";
  font-family: FontAwesome;
}

.css-block-empreendimentos .views-row .interna-empreendimentos .content-image .image:hover a,
.css-b-emp-internas .views-row .interna-empreendimentos .content-image .image:hover a,
.css-b-emp-internas .views-row .interna-empreendimentos .content-image .image:hover a {
  opacity: 1;
  height: 244px;
}

.css-block-empreendimentos .views-row .interna-empreendimentos .content-image .footer,
.css-b-emp-internas .views-row .interna-empreendimentos .content-image .footer,
.css-b-emp-internas .views-row .interna-empreendimentos .content-image .footer {
  margin: 0;
  padding: 15px 20px;
  border: none;
  height: 100px;
}

.css-block-empreendimentos .views-row .interna-empreendimentos .content-image .footer .local,
.css-b-emp-internas .views-row .interna-empreendimentos .content-image .footer .local,
.css-b-emp-internas .views-row .interna-empreendimentos .content-image .footer .local {
  font-size: 12px;
  text-transform: uppercase;
}

.css-block-empreendimentos .views-row .interna-empreendimentos .content-image .footer .title,
.css-b-emp-internas .views-row .interna-empreendimentos .content-image .footer .title,
.css-b-emp-internas .views-row .interna-empreendimentos .content-image .footer .title {
  font-size: 18px;
  text-transform: uppercase;
  color: #294052;
  font-family: "SourceSansProBold", sans;
}

.css-b-emp-internas {
  margin: 100px 0 60px;
  display: inline-block;
}

.node-empreendimentos-tags .css-b-emp-internas {
  display: block;
}

#block-views-blocos-customizados-b-custom .first-block, #block-views-blocos-customizados-b-custom .second-block {
  padding: 0;
  height: 480px;
}

#block-views-blocos-customizados-b-custom .first-block .left-image, #block-views-blocos-customizados-b-custom .second-block .left-image {
  padding: 0 !important;
  height: 480px;
}

#block-views-blocos-customizados-b-custom .about-infante {
  height: 480px;
  align-items: center;
  justify-content: center;
  display: flex;
}

#block-views-blocos-customizados-b-custom .about-infante .info {
  width: 300px;
}

#block-views-blocos-customizados-b-custom .about-infante .title {
  font-size: 35px;
  color: #294052;
  line-height: 40px;
}

#block-views-blocos-customizados-b-custom .about-infante .text {
  font-size: 18px;
  margin: 20px 0;
  color: #656565;
}

#block-views-blocos-customizados-b-custom .about-infante .link:after {
  margin: 0 0 0 8px;
  content: "\f061";
  font-family: FontAwesome;
}

#block-views-blocos-customizados-b-custom .second-block .news-infante {
  height: 480px;
  background-position: center center;
  background-size: cover;
}

#block-views-blocos-customizados-b-custom .second-block .news-infante .news-fields {
  float: right;
  width: 500px;
  margin: 60px 60px 0 0;
}

#block-views-blocos-customizados-b-custom .second-block .news-infante .news-fields .title {
  font-size: 35px;
  color: #294052;
  line-height: 40px;
  margin: 0 0 30px;
}

#block-views-blocos-customizados-b-custom .second-block .news-infante .news-fields .text {
  font-size: 18px;
  color: #656565;
}

#block-views-blocos-customizados-b-custom .second-block .news-form {
  height: 480px;
  background-color: #3e7292;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0 60px;
  color: white;
}

#block-views-blocos-customizados-b-custom .second-block .news-form .webform-client-form {
  width: 500px;
}

#block-views-blocos-customizados-b-custom .second-block .news-form .webform-client-form .control-label {
  margin: 0 0 5px 20px;
  text-transform: uppercase;
  color: white;
}

#block-views-blocos-customizados-b-custom .second-block .news-form .webform-client-form .form-radios .control-label {
  margin: 0;
  padding: 10px 35px;
  border: 1px solid #7195ac;
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.3);
}

#block-views-blocos-customizados-b-custom .second-block .news-form .webform-client-form .form-radios .control-label.active {
  border-color: #00aecc;
  background-color: #00aecc;
  color: white;
}

#block-views-blocos-customizados-b-custom .second-block .news-form .webform-client-form .form-radios .control-label input {
  display: none;
}

#block-views-blocos-customizados-b-custom .second-block .news-form .webform-client-form .form-radios .form-item {
  display: inline-block;
  margin: 0 30px 0 0;
}

#block-views-blocos-customizados-b-custom .second-block .news-form .webform-client-form input {
  border: 1px solid #7195ac;
  background-color: transparent;
  border-radius: 60px;
  color: white;
}

#block-views-blocos-customizados-b-custom .second-block .news-form .webform-client-form input.placeholder {
  color: rgba(255, 255, 255, 0.3);
}

#block-views-blocos-customizados-b-custom .second-block .news-form .webform-client-form input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

#block-views-blocos-customizados-b-custom .second-block .news-form .webform-client-form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

#block-views-blocos-customizados-b-custom .second-block .news-form .webform-client-form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

#block-views-blocos-customizados-b-custom .second-block .webform-component--indentifique-se {
  margin: 0 0 15px;
}

#block-views-blocos-customizados-b-custom .second-block .webform-component--indentifique-se .form-item-submitted-indentifique-se label:after {
  content: "\f1ce";
  font-family: FontAwesome;
  margin: 0 0 0 10px;
}

#block-views-blocos-customizados-b-custom .second-block .webform-component--indentifique-se .form-item-submitted-indentifique-se label.active:after {
  content: "\f058";
  font-family: FontAwesome;
  margin: 0 0 0 10px;
  font-size: 16px;
}

.webform-client-form label {
  margin: 0 0 5px 20px;
  text-transform: uppercase;
  color: #294052;
  font-weight: normal;
  font-family: "SourceSansProBold", sans;
}

.webform-client-form input {
  border: 1px solid #d1d1d1;
  background-color: transparent;
  border-radius: 60px;
}

.webform-client-form textarea {
  border-radius: 14px;
}

.webform-client-form .form-submit {
  margin: 20px 0 0;
}

.webform-client-form .form-actions .webform-submit {
  margin: 0;
  display: inline-block;
}

.webform-client-form.webform-client-form-65 {
  width: 750px;
  margin: 60px auto !important;
}

.webform-client-form.webform-client-form-59 {
  position: relative;
  overflow: hidden;
}

.webform-client-form.webform-client-form-59 .form-actions {
  position: absolute;
  bottom: 10px;
  right: 240px;
}

#block-webform-client-block-59 {
  padding: 60px 0;
}

#block-webform-client-block-59 .sale {
  width: 520px;
  margin: 0 auto 40px;
  text-align: center;
}

#block-webform-client-block-59 .sale h1 {
  font-size: 36px;
  color: #294052;
}

#block-webform-client-block-59 .sale .body {
  font-size: 18px;
  color: #656565;
}

.webform-component--indentifique-se {
  margin: 0;
}

.webform-component--indentifique-se .control-label {
  margin: 0 0 5px 20px;
  text-transform: uppercase;
  color: #294052;
  font-weight: normal;
  font-family: "SourceSansProBold", sans;
}

.webform-component--indentifique-se .form-radios .control-label {
  margin: 0;
  padding: 10px 35px;
  border: 1px solid #d1d1d1;
  border-radius: 50px;
  color: #d1d1d1;
}

.webform-component--indentifique-se .form-radios .control-label.active {
  border-color: #00aecc;
  background-color: #00aecc;
  color: white;
}

.webform-component--indentifique-se .form-radios .control-label input {
  display: none;
}

.webform-component--indentifique-se .form-radios .form-item {
  display: inline-block;
  margin: 0 30px 0 0;
}

.webform-component--indentifique-se input {
  border: 1px solid #d1d1d1;
  background-color: transparent;
  border-radius: 60px;
}

.webform-component--indentifique-se #edit-submitted-terreno-ajax-wrapper {
  position: relative;
}

.webform-component--indentifique-se #edit-submitted-terreno-ajax-wrapper .help-block {
  position: absolute;
  right: 30px;
  bottom: 25px;
}

.webform-component--indentifique-se .form-item-submitted-indentifique-se label:after {
  content: "\f1ce";
  font-family: FontAwesome;
  margin: 0 0 0 10px;
}

.webform-component--indentifique-se .form-item-submitted-indentifique-se:checked label:after {
  content: "\f058";
  font-family: FontAwesome;
  margin: 0 0 0 10px;
  font-size: 16px;
}

.node-type-institucional .region-content {
  width: 750px;
  margin: 60px auto;
}

.node-type-institucional .region-content .image-highlighted {
  text-align: center;
  margin: 0 0 30px;
}

.node-type-institucional .region-content .image-highlighted img {
  display: inline-block;
}

.node-type-institucional .region-content .body {
  font-size: 18px;
  line-height: 150%;
  color: #656565;
}

.node-type-institucional .region-content .body p {
  margin: 0 0 30px;
}

.node-type-institucional .region-content .body a {
  color: #00aecc;
  text-decoration: underline;
}

.node-type-institucional .region-content .video .video-js {
  width: 100%;
  height: 450px;
}

.node-type-institucional .region-content .video .vjs-big-play-button {
  border-radius: 100%;
  height: 90px;
  width: 90px;
  background: transparent;
  border-width: 7px;
  left: 50%;
  margin-left: -45px;
  top: 50%;
  margin-top: -45px;
}

.node-type-institucional .region-content .video .vjs-big-play-button:before {
  position: relative;
}

.node-type-empreendimentos .image {
  position: relative;
  overflow: hidden;
}

.node-type-empreendimentos .image-highlighted {
  height: 360px;
}

.node-type-empreendimentos .tag {
  background-color: #00aecc;
  color: #fff;
  font-family: "SourceSansProBold", sans;
  padding: 10px 70px;
  position: absolute;
  right: -75px;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(40deg);
  top: 30px;
  width: 290px;
  letter-spacing: 1px;
}

.node-type-empreendimentos .image-brand {
  text-align: center;
  margin: 60px 0 0;
}

.node-type-empreendimentos .image-brand img {
  display: inline-block;
}

.node-type-empreendimentos .title-brand {
  margin: 40px 0 20px;
  font-size: 34px;
  text-align: center;
  color: #294052;
}

.node-type-empreendimentos .description {
  width: 560px;
  font-size: 18px;
  margin: 0 auto 30px;
  text-align: center;
}

.node-type-empreendimentos .icons-list {
  width: 880px;
  margin: 0 auto;
  float: inherit;
  overflow: hidden;
}

.node-type-empreendimentos .icons-list .title-icon {
  margin: 0 0 20px;
  align-items: center;
  display: flex;
}

.node-type-empreendimentos .icons-list .title-icon .icon i {
  width: 60px;
  height: 60px;
  float: left;
  background: #00aecc;
  color: white;
  vertical-align: middle;
  margin: 0 10px 0 0;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.node-type-empreendimentos .icons-list .title-icon .subtitle {
  display: inline-block;
  font-size: 18px;
  margin: 0;
}

.node-type-empreendimentos .link {
  text-align: center;
}

.node-type-empreendimentos .link .download {
  margin: 40px auto;
  display: inline-block;
}

.node-type-empreendimentos .first-section {
  margin: 0 auto 40px;
}

.node-type-empreendimentos .second-section h2 {
  text-align: center;
  color: #294052;
  margin: 40px 0;
}

.node-type-empreendimentos .second-section .gallery-tour {
  height: 340px;
  padding: 0 !important;
  margin: 0 0 30px;
}

.node-type-empreendimentos .second-section .gallery-tour .owl-buttons {
  position: relative;
  bottom: 50px;
}

.node-type-empreendimentos .second-section .gallery-tour .owl-buttons div {
  border: 0;
  background: transparent !important;
  opacity: 1;
  position: inherit;
  height: inherit;
  width: inherit;
  padding: 0 !important;
  left: 0;
  margin: 0 20px;
}

.node-type-empreendimentos .second-section .gallery-tour .owl-buttons div i {
  font-size: 20px;
}

.node-type-empreendimentos .second-section .gallery-tour .owl-buttons div i:hover {
  color: white;
}

.node-type-empreendimentos .second-section .list-tour {
  padding: 0;
  height: 340px;
  margin: 0 0 30px;
}

.node-type-empreendimentos .second-section .list-tour .tour-fields {
  padding: 30px 0 0 60px;
}

.node-type-empreendimentos .second-section .list-tour .title-icon {
  overflow: hidden;
  margin: 0 0 30px;
}

.node-type-empreendimentos .second-section .list-tour .title-icon i {
  float: left;
  margin: 0px 10px 0 0;
  font-size: 26px;
  color: #00aecc;
  width: 40px;
  text-align: center;
}

.node-type-empreendimentos .second-section .list-tour .title-icon .subtitle {
  color: #00aecc;
}

.node-type-empreendimentos .second-section .download-folder {
  padding: 0;
}

.node-type-empreendimentos .second-section .download-folder .folder {
  height: 500px;
  background-size: cover;
}

.node-type-empreendimentos .second-section .download-folder .folder .download {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: inline-block;
  margin-left: -100px;
}

.node-type-empreendimentos .second-section .download-folder .folder .download:after {
  margin: 0 0 0 8px;
  content: "\f063";
  font-family: FontAwesome;
}

.node-type-empreendimentos .form-interest {
  padding: 45px 0;
  background: #f0f0f0;
}

.node-type-empreendimentos .form-interest h2 {
  margin: 0 0 20px;
  font-size: 34px;
  color: #294052;
  text-align: left;
}

.node-type-empreendimentos .form-interest .webform-client-form .webform-component--preencha-dados {
  font-size: 18px;
}

.node-type-empreendimentos .form-interest.form-individual .content {
  padding: 0;
  margin: 50px auto;
  width: 555px;
  float: inherit;
}

.node-type-empreendimentos .form-interest.form-individual .btn {
  background: #00aecc;
  color: white;
}

.node-type-empreendimentos .form-interest.form-individual .btn:hover {
  border-color: #95c4d7;
  background: #95c4d7;
  color: #294052;
}

.node-type-empreendimentos .galeria {
  clear: both;
}

.node-type-empreendimentos .location {
  position: relative;
}

.node-type-empreendimentos .location .location-fields {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: rgba(0, 174, 204, 0.6);
  bottom: 0;
}

.node-type-empreendimentos .location .location-fields i {
  color: #fff;
  top: 55px;
  position: absolute;
  font-size: 50px;
  left: 0;
  right: 0;
}

.node-type-empreendimentos .location .location-fields h1 {
  font-family: "SourceSansProBold", sans;
  font-size: 32px;
  color: #fff;
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
}

.node-type-empreendimentos .location .location-fields .link {
  text-align: center;
  position: absolute;
  top: 190px;
  left: 0;
  right: 0;
}

.node-type-empreendimentos .location .location-fields .link a {
  background: transparent;
  padding: 12px 35px;
  border: 1px solid #00aecc;
  color: white;
  text-transform: uppercase;
  font-family: "SourceSansProBold", sans;
}

.node-type-empreendimentos footer {
  margin: 0 0 80px !important;
}

.node-type-webform .sale {
  width: 520px;
  margin: 40px auto 40px;
  text-align: center;
}

.node-type-webform .sale h1 {
  font-size: 36px;
  color: #294052;
}

.node-type-webform .sale .body {
  font-size: 18px;
  color: #656565;
}

.node-type-webform .webform-client-form {
  margin: 60px 0;
  position: relative;
  overflow: hidden;
}

.node-type-webform .webform-component--indentifique-se {
  margin: 0;
}

footer {
  border: 0 !important;
  background-color: #cfe4ec;
  color: #656565;
  padding: 30px 0 20px !important;
  margin: 30px 0 80px !important;
}

footer .info-infante {
  margin: 20px 0 0;
}

footer .info-infante .first {
  font-size: 14px;
  color: #294052;
  font-family: "SourceSansProBold", sans;
}

footer .info-infante p {
  margin: 0 !important;
}

footer .phone span, footer .fax span {
  color: #294052;
  font-family: "SourceSansProBold", sans;
}

footer .col-md-4 {
  text-align: right;
}

footer .whats-phone {
  background-color: #294052;
  padding: 30px 0;
  margin: 30px 0 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "SourceSansProBold", sans;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

footer .whats-phone i, footer .whats-phone .info, footer .whats-phone .text, footer .whats-phone .phone {
  display: inline-block;
  font-size: 18px;
  color: #95c4d7;
}

footer .whats-phone i, footer .whats-phone .info {
  margin: 0 5px 0 0;
}

footer .whats-phone .text, footer .whats-phone .phone {
  margin: 0 5px 0 0;
}

footer .whats-phone .phone a {
  color: #95c4d7;
}

footer .whats-phone .phone a:hover {
  color: white;
}

footer .whats-phone .info .text {
  color: white;
}

.not-logged-in.page-user .main-container .container {
  width: 720px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ccc;
  background: #f8f8f8;
}

.not-logged-in.page-user .main-container .container ul.nav-tabs {
  border: 0;
  margin: 0 0 40px;
}

.not-logged-in.page-user .main-container .container ul.nav-tabs li a {
  border-radius: 50px;
  padding: 8px 25px;
  border-bottom-color: #ddd;
}

.not-logged-in.page-user #user-login .control-label, .not-logged-in.page-user #user-pass .control-label {
  font-weight: normal;
}

.pager--infinite-scroll li a {
  background: #00aecc;
  color: white;
  border: 1px solid #00aecc;
}

.pager--infinite-scroll li a:hover {
  border: 1px solid #95c4d7;
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 620px) {
  html {
    overflow-x: hidden;
  }
  body {
    overflow-x: inherit;
  }
  header .navbar-header .logo {
    margin: 40px 0 0 40px;
    width: 280px;
    height: 70px;
  }
  header .navbar-header .navbar-toggle {
    border: 0;
    position: absolute;
    top: 40px;
    right: 0px;
  }
  header .navbar-header .navbar-toggle:focus {
    background: transparent;
  }
  header .navbar-header .navbar-toggle .icon-bar {
    height: 3px;
    width: 24px;
    background-color: #294052;
  }
  header .navbar-collapse {
    padding: 0 20px !important;
    background: #fff;
    text-align: center;
    border: 0;
    border-bottom: 3px solid #d1d1d1;
    z-index: 10;
    position: relative;
  }
  header .navbar-collapse #block-block-1 {
    margin: 20px 0 0;
    text-align: center;
    display: block;
    width: 100%;
  }
  header .navbar-collapse #block-block-1 .button-contact {
    display: inline-block;
  }
  header .navbar-collapse .block-menu {
    margin: 20px auto;
    width: 100%;
  }
  header .navbar-collapse .block-menu ul.menu.nav li {
    display: block;
  }
  header .navbar-collapse .block-menu ul.menu.nav li ul.dropdown-menu {
    position: relative;
    left: inherit;
    top: inherit;
    float: inherit;
  }
  .css-block-superbanner .owl-buttons {
    display: none;
  }
  .css-block-superbanner .subtitle {
    padding: 0 30px;
  }
  .css-block-bannerinterna .super-banner {
    height: 260px;
    font-size: 25px;
    background-size: cover;
    background-position: center center;
  }
  .css-block-bannerinterna .super-banner:before {
    height: 260px;
  }
  .css-block-bannerinterna .super-banner .fields-banner {
    z-index: 0;
    position: relative;
  }
  .css-block-bannerinterna .super-banner .subtitle {
    padding: 0 20px;
  }
  #block-block-1 .button-contact a {
    margin: 0;
  }
  #block-block-2 {
    text-align: center;
    margin: 0 0 40px;
  }
  .css-block-empreendimentos .owl-carousel .owl-wrapper-outer {
    width: 100%;
  }
  #block-views-blocos-customizados-b-custom .first-block, #block-views-blocos-customizados-b-custom .second-block {
    height: inherit;
  }
  #block-views-blocos-customizados-b-custom .first-block .left-image, #block-views-blocos-customizados-b-custom .second-block .left-image {
    height: inherit;
  }
  #block-views-blocos-customizados-b-custom .second-block .news-infante, #block-views-blocos-customizados-b-custom .second-block .news-form {
    height: auto;
    overflow: hidden;
  }
  #block-views-blocos-customizados-b-custom .second-block .news-infante {
    background-size: cover;
  }
  #block-views-blocos-customizados-b-custom .second-block .news-infante .news-fields {
    float: inherit;
    width: inherit;
    margin: 40px 20px;
    text-align: center;
  }
  #block-views-blocos-customizados-b-custom .second-block .news-infante .news-fields .text {
    background: rgba(255, 255, 255, 0.6);
    padding: 15px;
  }
  #block-views-blocos-customizados-b-custom .second-block .news-form {
    padding: 60px 30px;
  }
  #block-views-blocos-customizados-b-custom .second-block .news-form .webform-client-form .form-radios .form-item {
    display: inline-block;
    margin: 0 10px 0 0;
  }
  #block-webform-client-block-59 .sale {
    width: inherit;
    margin: 60px 10px;
  }
  #block-webform-client-block-59 .webform-client-form .form-radios .control-label {
    padding: 10px 25px;
  }
  #block-webform-client-block-59 .webform-client-form .form-radios .form-item {
    display: inline-block;
    margin: 0 10px 20px 0;
  }
  #block-webform-client-block-59 .webform-client-form .form-actions {
    text-align: center;
    margin: 20px 0 0;
    right: 15px;
  }
  .css-block-empreendimentos .owl-carousel .owl-buttons {
    position: relative;
    bottom: 0;
    width: 100%;
    right: 0;
  }
  .css-block-empreendimentos .owl-carousel .owl-buttons div {
    display: inline-block;
    opacity: 1;
    border: 0;
    right: inherit !important;
    left: inherit !important;
    top: 0 !important;
    position: relative;
    background: transparent;
    border: 1px solid #95c4d7;
  }
  .css-block-empreendimentos .owl-carousel .owl-buttons div i {
    font-size: 12px;
  }
  .css-block-empreendimentos .owl-carousel .owl-buttons div.owl-prev {
    left: inherit;
    top: inherit;
  }
  .css-block-empreendimentos .owl-carousel .owl-buttons div.owl-next {
    right: inherit;
    top: inherit;
  }
  .node-type-institucional .region-content {
    width: inherit;
    margin: 40px 0;
    padding: 0 10px;
  }
  .node-type-institucional .region-content .video .video-js {
    width: 100%;
    height: 250px;
  }
  .node-type-webform .sale {
    width: inherit;
    padding: 0 20px;
  }
  .node-type-webform .webform-client-form.webform-client-form-65 {
    width: inherit;
    margin: 40px auto !important;
    padding: 0 10px;
  }
  .node-type-webform .webform-client-form.webform-client-form-59 .form-actions {
    right: 15px;
  }
  .node-type-webform .webform-component--indentifique-se {
    margin: 0 0 20px;
  }
  .node-type-webform .webform-component--indentifique-se .form-radios .control-label {
    padding: 10px 25px;
  }
  .node-type-webform .webform-component--indentifique-se .form-radios .form-item {
    margin: 0 15px 0 0;
  }
  .node-type-webform .form-actions {
    text-align: center;
  }
  .node-type-empreendimentos .description {
    width: inherit;
  }
  .node-type-empreendimentos .icons-list .title-icon .subtitle {
    width: 260px;
  }
  .node-type-empreendimentos .second-section .gallery-tour {
    height: 230px;
  }
  .node-type-empreendimentos .second-section .list-tour {
    height: auto;
  }
  .node-type-empreendimentos .second-section .list-tour .tour-fields {
    padding: 0 20px;
  }
  .node-type-empreendimentos .form-interest {
    padding: 30px 10px !important;
    width: inherit !important;
  }
  .node-type-empreendimentos .form-interest h2 {
    text-align: center;
  }
  .node-type-empreendimentos .form-interest .webform-client-form {
    padding: 0;
  }
  .node-type-empreendimentos .form-interest .webform-client-form .webform-component--preencha-dados {
    text-align: center;
  }
  .node-type-empreendimentos .form-interest.form-individual .content {
    width: inherit;
  }
  .node-type-empreendimentos footer {
    margin: 0 0 80px !important;
  }
  .css-b-emp-internas {
    display: inherit;
  }
  .css-b-emp-internas .views-row {
    margin: 0 0 60px;
  }
  .css-b-emp-internas .views-row .interna-empreendimentos {
    float: inherit;
    margin: 0 auto !important;
    width: 310px;
  }
  footer {
    margin: 0 0 80px !important;
  }
  footer #block-views-rodape-block {
    text-align: center;
  }
  footer #block-views-rodape-block img {
    display: inline-block;
  }
  footer .col-md-3 {
    margin: 20px 0;
  }
  footer .col-md-4 {
    text-align: center;
  }
  footer .whats-phone {
    padding: 15px 0;
  }
  footer .whats-phone i, footer .whats-phone .info {
    display: inline;
  }
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .css-block-bannerinterna .super-banner {
    width: 100%;
    margin: 0;
  }
}
