@font-face {
  font-family: 'SourceSansProRegular';
  src: url("../fonts/SourceSansProRegular.eot");
  src: url("../fonts/SourceSansProRegular.eot") format("embedded-opentype"), url("../fonts/SourceSansProRegular.woff2") format("woff2"), url("../fonts/SourceSansProRegular.woff") format("woff"), url("../fonts/SourceSansProRegular.ttf") format("truetype"), url("../fonts/SourceSansProRegular.svg#SourceSansProRegular") format("svg");
}

@font-face {
  font-family: 'SourceSansProLight';
  src: url("../fonts/SourceSansProLight.eot");
  src: url("../fonts/SourceSansProLight.eot") format("embedded-opentype"), url("../fonts/SourceSansProLight.woff2") format("woff2"), url("../fonts/SourceSansProLight.woff") format("woff"), url("../fonts/SourceSansProLight.ttf") format("truetype"), url("../fonts/SourceSansProLight.svg#SourceSansProLight") format("svg");
}

@font-face {
  font-family: 'SourceSansProBold';
  src: url("../fonts/SourceSansProBold.eot");
  src: url("../fonts/SourceSansProBold.eot") format("embedded-opentype"), url("../fonts/SourceSansProBold.woff2") format("woff2"), url("../fonts/SourceSansProBold.woff") format("woff"), url("../fonts/SourceSansProBold.ttf") format("truetype"), url("../fonts/SourceSansProBold.svg#SourceSansProBold") format("svg");
}

@font-face {
  font-family: 'SourceSansProBlack';
  src: url("../fonts/SourceSansProBlack.eot");
  src: url("../fonts/SourceSansProBlack.eot") format("embedded-opentype"), url("../fonts/SourceSansProBlack.woff2") format("woff2"), url("../fonts/SourceSansProBlack.woff") format("woff"), url("../fonts/SourceSansProBlack.ttf") format("truetype"), url("../fonts/SourceSansProBlack.svg#SourceSansProBlack") format("svg");
}

body {
  overflow-x: hidden;
  font-family: "SourceSansProRegular", sans;
}

a {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.btn {
  padding: 10px 45px;
  font-size: 14px;
  border-radius: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
}

.btn-default-blue {
  background: #00aecc;
  color: white;
}

.btn-default-blue:hover {
  background: #95c4d7;
}

/* Header/Topo */
header .navbar-header .logo {
  margin: 30px 0 0;
}

.navbar.container, .navbar.container-fluid {
  background: transparent;
  border: 0;
  margin: 0 auto;
  padding: 0;
  height: 135px;
}

.block-menu {
  float: right;
  margin: 38px 0 0;
}

.block-menu ul.menu.nav li {
  display: inline-block;
}

.block-menu ul.menu.nav li a {
  font-family: "SourceSansProBold", sans;
  color: #294052;
  text-transform: uppercase;
}

.block-menu ul.menu.nav li a:hover, .block-menu ul.menu.nav li a:focus {
  background: transparent;
  color: #00aecc;
}

#block-block-1 {
  float: right;
  text-align: right;
  margin: 38px 0 0 20px;
}

#block-block-1 a.link {
  margin: 0 20px 0 0;
}

/* Superbanner */
.css-block-superbanner {
  position: relative;
}

.css-block-superbanner .super-banner {
  height: 510px;
  background-size: cover;
}

.css-block-superbanner .super-banner .container {
  height: 510px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.css-block-superbanner .super-banner .container .fields-banner {
  color: white;
  margin: 0 auto;
  text-align: center;
  width: 500px;
}

.css-block-superbanner .super-banner .container .fields-banner .title {
  font-size: 35px;
}

.css-block-superbanner .super-banner .container .fields-banner .subtitle {
  font-size: 18px;
  margin: 20px 0;
}

.owl-pagination {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  opacity: 0.8;
}

.owl-pagination .owl-page span {
  width: 16px !important;
  height: 16px !important;
  border: 3px solid transparent;
}

.owl-pagination .owl-page.active span {
  background: #00aecc;
  border: 3px solid #95c4d7;
}

.owl-buttons div {
  background: transparent !important;
  color: #00aecc !important;
}

/* Empreendimentos Home */
#block-block-2 .list-empreendimentos .title {
  font-size: 35px;
  color: #294052;
  line-height: 40px;
}

#block-block-2 .list-empreendimentos .subtitle {
  font-size: 18px;
  margin: 15px 0;
}

#block-block-2 .list-empreendimentos span {
  color: #656565;
  font-size: 18px;
}

.css-block-empreendimentos .owl-item {
  width: 310px !important;
  margin: 0 20px 0 0;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos {
  float: left;
  margin: 0 20px 0 0 !important;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos .icons-list {
  position: absolute;
  top: -30px;
  left: 10px;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos .icons-list .title-icon {
  position: relative;
  display: inline-block;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos .icons-list .title-icon i {
  color: white;
  background: #00aecc;
  display: inline-block;
  width: 45px;
  height: 45px;
  padding: 14px;
  font-size: 18px;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos .icons-list .title-icon .subtitle {
  visibility: hidden;
  position: absolute;
  bottom: 20px;
  left: 10px;
  z-index: 1000;
  width: 200px;
}

.css-block-empreendimentos .owl-item .carousel-empreendimentos .icons-list .title-icon:hover .subtitle {
  visibility: visible;
  background: white;
  padding: 10px;
}

#block-views-blocos-customizados-b-custom .first-block {
  padding: 0;
  height: 360px;
}

#block-views-blocos-customizados-b-custom .about-infante {
  height: 360px;
  align-items: center;
  justify-content: center;
  display: flex;
}
